body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* src/LoginForm.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  padding: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(35, 27, 27, 0.1);
  width: 400px;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #060505;
}

.form-label {
  color: #100707;
  font-weight: 500;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  margin-bottom: 10px;
}
.logout {
  color: white;
  font-size: 20px; /* Adjust the size as needed */
  margin-left: 4px;
}
/* 
.app {
  display: grid;
  grid-template-columns: 26rem, 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
} */

/* .container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
} */
